remember to create a .env.local
the key and url is on telegram

VITE_CLERK_PUBLISHABLE_KEY=pk_test_replace_with_your_clerk_publishable_key
VITE_API_URL=http://localhost:8000
VITE_API_KEY=replace_with_the_backend_api_key

